@model RegisterViewModel

@{
    Layout = "_Layout";
}

<div class="login-container">
    <div class="login-form-section">
        <h1 class="login-title">Registrarse</h1>
        <form asp-controller="Account" asp-action="Register" method="post">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" placeholder="Escribe tu nombre" asp-for="Nombre" required />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" name="apellido" placeholder="Escribe tu apellido" asp-for="Apellido" required />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="correo">Correo</label>
                <input type="email" id="correo" name="correo" placeholder="Escribe tu correo" asp-for="Correo" required />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="contraseña">Contraseña</label>
                <input type="password" id="contraseña" name="contraseña" placeholder="Escribe tu contraseña" asp-for="Contraseña" required />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="confirmarContraseña">Confirmar Contraseña</label>
                <input type="password" id="confirmarContraseña" name="confirmarContraseña" placeholder="Confirma tu contraseña" asp-for="ConfirmarContraseña" required />
                <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
            </div>

            <button type="submit" class="login-button">Registrarse</button>

            <div class="register-link">
                <span>¿Ya tienes una cuenta? </span>
                <a asp-controller="Account" asp-action="Login">Inicia sesión aquí</a>
            </div>
        </form>
    </div>

    <div class="login-illustration img">
        <img src="~/images/open-book.png" alt="Book illustration" asp-append-version="true" />
    </div>
</div>



